* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    background-color: rgba(14, 12, 21, 1);
    color: #fff;
  }

.auth-container {
  min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .auth-form {
    width: 100%;
    max-width: 460px;
    padding: 2rem;
    background: rgba(34, 43, 68, 1);
    border-radius: 8px;
    gap: 10px;
  }
   
  .auth-title {
    margin-bottom: 1.5rem;
    text-align: left;
    color: #fff;
    font-size: 1.5rem;

  }

  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    font-weight: 400;
    font-family: sans-serif;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
   
   
  .auth-button {
    width: 100%;
    padding: 0.75rem;
    background-color: rgba(28, 100, 242, 1);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .auth-button:hover {
    background-color: #3a6690;
  }